<div class='pokemon-detail-container' *ngIf='pokemon'>
    <div class='name-container'>{{pokemon.name | uppercase}}
        <div class='sub-title-container'>
            Height : {{pokemon.height}} | Weight : {{pokemon.weight}} | Type : <span *ngFor='let types of pokemon.types'> {{types.type.name | titlecase}}</span>

        </div>
    </div>
    <div class='sub-data-container'>
        <div class='details-container'>
            <div *ngFor='let stat of pokemon.stats' class='details'>{{stat.stat.name | titlecase}} : {{stat.base_stat}}</div>

        </div>
    </div>

    <div class='tile-container'>
        <div class='image-container'>
            <ng-image-slider [images]='imageObject' [infinite]='true' [autoSlide]='5' [slideImage]='1' [imagePopup]='false' #nav></ng-image-slider>
        </div>
    </div>

    <div class='summary-container'>
        <div class='sub-topic-title'>
            Summary:
        </div>
    </div>

</div>