.pokemon-detail-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: yellowgreen;
    .name-container {
        text-align: center;
        color: yellow;
        font-weight: 350;
        font-size: 25px;
        .sub-title-container {
            font-size: 15px;
            color: #0e0eed;
        }
    }
    .details-container {
        margin-top: 10px;
        text-align: center;
    }
    .summary-container {
        overflow: hidden;
    }
    .list-details-container {
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .details {
        background-color: purple;
        float: left;
        padding: 5px;
        margin: 5px;
        color: #ccc;
    }
    .sub-topic-title {
        color: #0e0eed;
        font-weight: 350;
        font-size: 25px;
        text-decoration: underline;
    }
    .tile-container {
        .image-container {
            width: inherit;
            min-width: 200px;
        }
    }
}