<div class='pokemon-tile-container' *ngIf='pokemon'>
    <div class='name-container'>{{pokemon.name | uppercase}}
        <div class='sub-title-container'>
            Height : {{pokemon.height}} | Weight : {{pokemon.weight}}
        </div>
        <div class='sub-title-container'>
            Type : <span> {{pokemon.types | titlecase}}</span>
        </div>
    </div>
    <div class='tile-container'>
        <div class='image-container'>
            <ng-image-slider [images]='imageObject' [showArrow]='false' [infinite]='true' [autoSlide]='3' [slideImage]='1' [imagePopup]='false' #nav></ng-image-slider>
        </div>
        <a [routerLink]="['/detailPage', pokemon.name]" class='show-details'>Show Details</a>
    </div>

</div>