.pokemon-tile-container {
    width: 400px;
    min-width: 200px;
    background-color: yellowgreen;
    border-radius: 25px;
    .name-container {
        text-align: center;
        color: yellow;
        font-weight: 350;
        font-size: 25px;
    }
    .tile-container {
        .image-container {
            width: inherit;
            min-width: 200px;
        }
    }
    .view-details {
        margin-left: 150px;
    }
}