.header-container {
    .pokedex-logo {
        width: 50%;
        height: 30%;
        margin: auto;
        img {
            width: 100%;
        }
    }
}

.pokedex-container {
    min-width: 600px;
}